
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background: url('background.jpg') no-repeat top center fixed;
    background-size: cover;
}

.container {
    padding-top: 40vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

button {
    background-color: #ff00aa;
    border: none;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff00aa;
}

.hidden {
    display: none;
}
